body {
  background-color: #08325b; /* Une couleur de fond claire */
  color: #343a40; /* Couleur du texte sombre */
  body {
    font-family: "Muli", sans-serif;
  }

  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #bac0c4; /* Couleur pour le titre */
}

h2 {
  text-align: center;
  margin: 20px 0;
  color: #bac0c4; /* Couleur pour le sous-titre */
}

h3 {
  margin: 20px 0;
  color: #bac0c4; /* Couleur pour les sous-titres */
}

p {
  color: #bac0c4; /* Couleur du texte */
}

nav {
  text-align: center;
  margin: 20px 0;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #007bff; /* Couleur des liens */
}

nav a:hover {
  text-decoration: underline; /* Soulignement au survol */
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 2px 10px #0e4c8b(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #7b9dbf;
}

th {
  background-color: #007bff;
  color: white;
}

button {
  background-color: #28a745; /* Couleur verte pour les boutons */
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #218838; /* Couleur au survol */
}

.container-background {
  background-image: url('/public/blue-1761175.jpg');
  background-size: cover;
  background-position: center;
  background-color: #2772a3; /* Couleur de secours */
  height: 100vh;
}



